body {
	background: white; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;
}

/*Navigation and Footer Style*/

nav>div {
	-webkit-transition: all 1s; 
	-moz-transition: all 1s;
    -o-transition: all 1s; 
    transition: all 1s;
}

nav>div.container{
	width:100%;
}

.sticky {
	background-color: rgba(8, 43, 70, 1);
	border-bottom: solid 5px #6e2405;
	color:black;
	width:100%;
}

.navButton.sticky {
	background-color: rgba(8, 43, 70, 1);
}

.navBorder {
	letter-spacing: 2px;
	font-size: 20px;
}

.oneMore.navButton:hover {
	color:white;
	/*border:3px solid black;*/
	margin:10px 10px;
	background-color: rgb(8, 43, 70);
}

.oneMore.navButton:focus {
	color:white;
	margin:10px 10px;
	background-color: rgb(8, 43, 70);
}

.navButton {
	border-radius: 10px;
	margin:10px 10px;
	color:rgba(8, 43, 70, 1);
	font-weight: 900;
	font-family: 'PT Serif', serif;
	/*border:3px solid rgba(8, 43, 70, 1);*/
	font-size: 25px;
	background-color:rgba(255, 255, 255, .9);
}

footer.footBorder {
	border-top: solid 5px #6e2405;
	letter-spacing: 2px;
	font-size: 20px;
	background-color: white;
	column-rule: #6e2405;
	height:20px;
}

.fa-facebook {
	color: white!important;
	padding:10px 14px!important;
	background-color: #3d5b99!important;
	margin:0px 5px;
}

.fa-linkedin {
	color:white !important;
	padding:10px 14px !important;
    background-color: #0073a4 !important;
    margin:0px 5px;
}

.navbar-fixed-bottom{
	letter-spacing: 2.5px;
}

/*Main Body Styling*/

h1 {
	font-size: inherit;
}

.logoBackground {
	background-color:rgba(0, 0, 0, 0.5);
	float: right;
	color:white;
	/*text-align: center;*/
	border-radius: 10px;
	opacity: .9;
}

.title {
	text-align: center;
	text-shadow: 2px 2px 2px #aaa;
	font-weight: bolder;
	color: white;
	letter-spacing: 2px;
	font-size: 60px;
}

.hyper>a:link {
	color:white;
}

.hyper>a:hover {
	color:white;
}

.hyper>a:focus {
	color:white;
}

.text {
	color: white;
	background-color: rgb(79, 107, 71);
	letter-spacing: 1px;
	font-size: 30px;
	border: solid 3px #6e2405;
	border-radius: 25px;
	-webkit-box-shadow: 10px 10px 5px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 1px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 1px rgba(0,0,0,0.75);
	margin-bottom: 200px;
}

.test {
	background-color: rgba(8, 43, 70, 1);
	color: white;
	font-family: 'PT Serif', serif;
	margin-bottom: 200px ;
	font-size: 22px;
	font-style: italic;
	border: solid 3px #6e2405;
	-webkit-box-shadow: 10px 10px 5px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 1px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 1px rgba(0,0,0,0.75);
	padding: 0 30px;
	text-align: center;
}

#testOne{
	margin-top: 200px;
}

#heading {
	font-size: 80px;
}

#bullet {
	text-align: left;
	font-size: 30px;
}

#logo {
	width:100%;
	height:600px;
	text-align: right;
	background-image: url("/img/FullSizeR3.jpg");
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:center;
	padding-top:100px;
	font-size: 60px;
	font-weight: bold;
	border-bottom: solid 10px #6e2405;
}



